:root {
  /*------COLOUR VARIABLES-------*/
  --dark-font-color: #0d0000;
  --light-font-color: #ffffff;
  --light-background-color: #f2f0f0;
  --main-cta-color: #f24c27;
  --link-color: #3878a6;
  /*------COLOUR VARIABLES-------*/
  --heading-font: "Audiowide";
  --paragraph-font: "Nanum Gothic";
}
