:root {
  /*------COLOUR VARIABLES-------*/
  --dark-font-color: #0d0000;
  --light-font-color: #ffffff;
  --menu-overlay-color: #ffffffd8;
  --light-background-color: #f2f0f0;
  --main-cta-color: #df0902;
  --link-color: #3878a6;
  --shaddow-color: #8a9aa5;
  /*------COLOUR VARIABLES-------*/
  --heading-font: "Audiowide";
  --paragraph-font: "Nanum Gothic";
}
