@import "imports/variables.css";

main h2,
main h3 {
  text-align: left;
  margin: 1rem 0;
}

/*---------------------------------HERO SECTION*/
.hero__section {
  background: var(--dark-font-color) url("../images/special-events.jpg") 0% 0% no-repeat;
  background-size: 200%;
}

.hero-graphic {
  background: url("../images/talks.svg") no-repeat;
}

/*---------------------------------EVENTS SECTIONS*/

.event__card {
  padding: 2rem;
  margin: 2rem auto;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
}

.event__card .circular-image {
  text-align: center;
  order: 2;
}

.event__card h2 {
  order: 1;
}

.event__card h3 {
  order: 3;
}

.event__card p {
  order: 4;
}

.event__card a {
  order: 5;
}
