@import "imports/variables.css";

main section {
  margin-bottom: 3rem;
}

/*-------------------------------------------HERO SECTION*/
.hero__section {
  color: var(--dark-font-color);
  background: var(--light-font-color) url("../images/sea_eagle-hero-small.jpg") 35% 100% no-repeat;
  background-size: cover;
}

.hero__section p {
  padding-right: 0.3rem;
}

.hero-graphic {
  background: url("../images/microscope-graphic.svg") no-repeat;
}

/*-------------------------------------------EXHIBITION SECTIONS*/
.exhibitions__section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-areas:
    "heading"
    "image"
    "paragraph";
}

.exhibition-text__div {
  margin: 1rem;
  grid-area: paragraph;
}

.exhibition-img__wrapper {
  grid-area: image;
  justify-self: start;
  width: 80%;
  height: 100%;
  overflow: hidden;
  justify-self: center;
  margin: 0 auto;
}

.exhibition-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sea-eagle__image {
  object-fit: none;
  object-position: top;
}

.exhibitions__section h2 {
  grid-area: heading;
}

.subject__label {
  grid-area: image;
  z-index: 90;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  width: 10rem;
  height: 3rem;
  border-radius: 0 4rem 4rem 0;
  background-color: var(--light-font-color);
  color: var(--dark-font-color);
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  padding: 0.1rem;
  border: solid 2px var(--link-color);
}

.subject__label p {
  margin: 1rem auto;
}

.come-see__section p {
  max-width: 500px;
  margin: 3rem auto;
  font-weight: 600;
}

/*-------------------------------------------DECORATIVE DIVIDERS*/

/*PLANETS*/

.planet__decoration__div {
  display: none;
  position: relative;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: -2rem auto -3.75rem auto;
}

.sun {
  position: absolute;
  left: -1700px;
  top: -780px;
  height: 1717px;
  width: 1717px;
  background: url("../images/sun.svg") no-repeat;
  background-size: cover;
}

.mercury {
  height: 8px;
  width: 8px;
  background: url("../images/Mercury.svg") no-repeat;
  background-size: cover;
}

.venus {
  height: 16px;
  width: 16px;
  background: url("../images/Venus.svg") no-repeat;
  background-size: cover;
}

.earth {
  height: 16px;
  width: 16px;
  background: url("../images/Earth.svg") no-repeat;
  background-size: cover;
}

.mars {
  height: 8px;
  width: 8px;
  background: url("../images/Mars.svg") no-repeat;
  background-size: cover;
}

.jupiter {
  height: 116px;
  width: 116px;
  background: url("../images/Jupiter.svg") no-repeat;
  background-size: cover;
}

.saturn {
  height: 178.15px;
  width: 144.133px;
  background: url("../images/Saturn.svg") no-repeat;
  background-size: cover;
}
.uranus {
  height: 42px;
  width: 42px;
  background: url("../images/Uranus.svg") no-repeat;
  background-size: cover;
}

.neptune {
  height: 38px;
  width: 38px;
  background: url("../images/Neptune.svg") no-repeat;
  background-size: cover;
}

/*ARCTIC FOXES*/

.arctic-foxes__div {
  display: none;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

.not-displayed {
  display: none;
}

.jumping-fox,
.standing-fox,
.sleeping-fox {
  height: 100.917px;
}

.jumping-fox {
  width: 128.7px;
  background: url("../images/jumping-fox.svg") no-repeat;
}

.standing-fox {
  width: 130.167px;
  background: url("../images/standing-fox.svg") no-repeat;
}

.sleeping-fox {
  width: 110.333px;
  background: url("../images/sleeping-fox.svg") bottom no-repeat;
}
