@import "imports/variables.css";

/*HERO SECTION*/

.hero__section {
  color: var(--dark-font-color);
  background: url("../images/sea_eagle-hero-small.jpg") 35% 100% no-repeat;
  background-size: cover;
}

.hero__section p {
  padding-right: 2px;
}

main section {
  margin-bottom: 3rem;
}

/*EXHIBITION SECTIONS*/
.exhibitions__section {
  display: grid;
  grid-template-columns: 1fr;
}

.exhibition-text__div {
  margin: 1rem;
}

.exhibition-img__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-self: center;
  margin: 0 auto;
}

.exhibition-img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-with-label {
  position: relative;
}

.subject__label {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  justify-content: end;
  width: 160px;
  height: 48px;
  border-radius: 0 50px 50px 0;
  background-color: var(--light-font-color);
  color: var(--dark-font-color);
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  padding: 2px;
  border: solid 2px var(--link-color);
}

.subject__label p {
  position: absolute;
  right: 3.5rem;
}

.come-see__section p {
  max-width: 500px;
  margin: 3rem auto;
  font-weight: 600;
}

/*PLANET DIVIDER*/

.planet__decoration__div {
  display: none;
  position: relative;
  width: 100%;
  justify-content: space-around;
  margin: -30px auto -60px auto;
}

.sun {
  position: absolute;
  left: -1700px;
  top: -780px;
}

/*ARCTIC FOXES DECORATION*/

.arctic-foxes__div {
  display: none;
  width: 100%;
  justify-content: space-around;
}

.not-displayed {
  display: none;
}
