@import "imports/variables.css";

/*-------------------------------------HERO SECTION*/
.hero__section {
  justify-content: end;
  background: url("../images/ozone-balloon-hero.jpg") 50% 0% no-repeat;
  background-size: cover;
}

.hero-text__div {
  padding-left: 1rem;
}

.get-involved__section div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem auto;
}

.get-involved__section div h2 {
  order: -1;
}

/*-------------------------------------CONTACT FORMS*/
.contact-forms__div {
  display: flex;
  flex-direction: column;
}

.contact-forms__div form {
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  padding: 2rem;
  max-width: 450px;
}

.contact-forms__div input,
.contact-forms__div select,
.contact-forms__div textarea {
  font-size: 1rem;
  font-family: var(--paragraph-font), "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  outline: none;
  position: relative;
  background-color: var(--light-font-color);
}

.contact-forms__div label {
  margin: 1rem 0 0 0;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-family: var(--paragraph-font), "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  position: relative;
}

.contact-forms__div input:focus,
.contact-forms__div select:focus,
.contact-forms__div textarea:focus {
  outline: none;
  border-bottom: var(--link-color) 5px solid;
}

.contact-forms__div textarea:focus {
  border: var(--link-color) 2px solid;
}

.contact-forms__div input:hover,
label:hover + input,
.contact-forms__div select:hover,
label:hover + select,
.contact-forms__div textarea:hover,
label:hover + textarea {
  outline: none;
  border: var(--link-color) 2px solid;
}

.contact__form a {
  width: 150px;
}

input[type="number"] {
  width: 50px;
}

/*-------------------------------------ENGAGE SECTION*/

.image__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  max-width: 400px;
  margin: 1rem auto;
}

.image__wrapper img {
  width: 50px;
}
