@import "imports/variables.css";

/*-------------------------------------HERO SECTION*/
.hero__section {
  justify-content: flex-end;
  background: var(--dark-font-color) url("../images/ozone-balloon-hero.jpg") no-repeat;
  background-size: cover;
  background-position-x: right;
}

.hero-text__div {
  padding-left: 1rem;
  background-color: #0000005e;
  box-shadow: -10px -10px 10px 10px #0000005e;
}

.get-involved__section div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem auto;
}

.get-involved__section div h2 {
  order: -1;
}
