@import "imports/variables.css";

/*-------------------------------------HERO SECTION*/
.hero__section {
  justify-content: end;
  background: url("../images/ozone-balloon-hero.jpg") 50% 0% no-repeat;
  background-size: cover;
}

.hero-text__div {
  padding-left: 1rem;
}

.get-involved__section div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem auto;
}

.get-involved__section div h2 {
  order: -1;
}

/*-------------------------------------CONTACT FORM*/

.email-us form {
  /* background-color: var(--light-background-color); */
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  padding: 2rem;
  max-width: 450px;
}

.email-us input,
.email-us select,
.email-us textarea {
  font-size: 1rem;
  font-family: var(--paragraph-font), "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  position: relative;
}

.email-us label {
  margin: 2rem 0 -1rem 0;
  font-size: 1rem;
  font-family: var(--paragraph-font), "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  position: relative;
  height: 55px;
}

.email-us__form label::after {
    content: "";
    width: 0%;
    height: 5px;
    left: 0;
    bottom: 0px;
    background: var(--link-color);
    position: absolute;
}

input:focus + label::after {
    width: 100%;
}

/* .email-us__form input::after
 .email-us__form select:after,
.email-us__form textarea:after {
  content: "I am a big bottom";
  position: relative;
  display: block;
  left: 0px;
  bottom: 10px;
  width: 250px;
  height: 250px;
  background: var(--link-color);
  color: black;
  z-index: 100;
 transition: 0.3s all;
} */

/* .email-us input:hover::after,
.email-us select:hover,
.email-us textarea:hover {
    width: 300px;
} */

/*

.email-us input:hover::after,
.email-us select:hover::after,
.email-us textarea:hover::after {
    width: 300px;
}

nav a::after,
.expanding-image__div a h3::after,
.skip-to__section a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 0px;
  height: 5px;
  background: var(--link-color);
  transition: 0.3s all;
}

nav a:hover::after {
  width: 100%;
}
*/

/* 
.email-us input:focus,
.email-us select:focus,
.email-us textarea:focus {
  outline: none;
  border-bottom: var(--link-color) 2px solid;
}

.email-us input:hover,
.email-us select:hover,
.email-us textarea:hover {
  outline: none;
  border: var(--link-color) 2px solid;
}

.email-us textarea:focus {
  border: var(--link-color) 2px solid;
} 

.email-us input:valid,
.email-us select:valid,
.email-us textarea:valid {
  outline: none;
  border-bottom: var(--input-valid) 2px solid;
}
 */

/*
.email-us input:invalid,
.email-us select:invalid,
.email-us textarea:invalid {
  outline: none;
  border: var(--main-cta-color) 2px solid;
}

.email-us input:empty:invalid,
.email-us select:empty:invalid,
.email-us textarea:empty:invalid {
  outline: none;
  border: none;
}

 */

/*-------------------------------------ENGAGE SECTION*/

.image__wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 1rem auto;
}

.image__wrapper img {
  width: 50px;
}
