/*----------------GLOBAL STYLES-----------------*/
@import "imports/variables.css";

* {
  border: 1px black solid;
  box-sizing: border-box;
}

body {
  margin: 100px 0px 0px 0px;
  min-width: 320px;
}

h1,
h2 {
  font-family: var(--heading-font), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 800;
}

h3,
p,
a,
td {
  font-family: var(--paragraph-font), "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: var(--dark-font-color);
}

/*----------------HEADER & FOOTER-----------------*/

/*HEADER*/
header {
  position: fixed;
  display: inline-block;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: var(--light-font-color);
}
/*logo*/
.logo__wrapper {
  display: inline-block;
  padding: 5px;
}

.logo__top {
  display: flex;
}

.logo__top h1,
.logo__bottom h2 {
  margin: 0px;
}

/*search*/
.search__wrapper {
  position: relative;
  max-width: 210px;
  display: flex;
  align-items: center;
  background-color: var(--light-background-color);
  border-radius: 30px;
  padding: 2px;
  margin: 0 auto;
}

.search-input__wrapper {
  padding: 0px 0px 0px 10px;
}

.search-input__wrapper input {
  font-size: 1rem;
  max-width: 150px;
  background-color: var(--light-background-color);
  border: none;
}

.search-input__wrapper input:focus {
  outline: none;
  border-bottom: var(--link-color) 2px solid;
}

.search__wrapper label {
  order: 2;
  line-height: 0px;
}

#search-box__checkbox {
  display: none;
}

#search-box__checkbox ~ div {
  display: inline-block;
}

/*nav*/
.menu__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-background-color);
  cursor: pointer;
}

.menu__icon:hover {
  width: 50px;
  height: 50px;
}

.menu__icon div {
  width: 28px;
  height: 5px;
  border-radius: 5px;
  margin: 1.5px 0px;
}

.bluebar-top,
.bluebar-bottom {
  background-color: var(--link-color);
  position: relative;
  transition-property: transform;
  transition-duration: 0.8s;
}

.redbar {
  background-color: var(--main-cta-color);
  transition-property: opacity;
  transition-duration: 0.8s;
}

#hamburger-menu__checkbox {
  display: none;
}

nav {
  display: none;
  text-align: center;
  min-width: 230px;
}

nav ul {
  padding: 0;
  display: inline-block;
}

nav li {
  display: block;
  padding: 20px;
  text-align: left;
}

nav a {
  text-decoration: none;
  font-family: var(--heading-font);
}

nav a:hover {
  border-bottom: 5px solid var(--link-color);
  transition: border-bottom 0.1s linear;
}

nav .active {
  border-bottom: 5px solid var(--link-color);
}

#hamburger-menu__checkbox ~ nav {
  display: none;
}

#hamburger-menu__checkbox:checked ~ nav {
  display: inline-block;
  position: absolute;
  padding: 10px;
  background: var(--menu-overlay-color);
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
}

/*bars to cross menu icon*/
#hamburger-menu__checkbox:checked + .menu-checkbox__label .menu__icon .bluebar-top {
  transform: rotate(45deg);
  margin: 0px;
  top: 6.5px;
}

#hamburger-menu__checkbox:checked + .menu-checkbox__label .menu__icon .bluebar-bottom {
  transform: rotate(-45deg);
  margin: 0px;
  bottom: 6.5px;
}

#hamburger-menu__checkbox:checked + .menu-checkbox__label .menu__icon .redbar {
  opacity: 0;
}

/*FOOTER*/
.insta-image__wrapper {
  display: inline-flex;
  width: 110px;
  height: 110px;
  overflow: hidden;
}

.insta-image__wrapper img {
  position: relative;
  width: 100%;
  height: auto;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--light-background-color);
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  font-family: var(--heading-font), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.square-insta-images__div {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 5px;
}

.square-insta-images__div img {
  object-fit: cover;
}

.quick-links__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.quick-links__wrapper a {
  padding: 5px;
}

/*----------------CTA & ICONS-----------------*/
.icon {
  display: inline-block;
  height: 44px;
  width: 44px;
}

.search__icon {
  background: url("../images/search.svg") center / 44px 44px no-repeat;
  cursor: pointer;
}

.insta__icon {
  background: url("../images/instagram.svg") center / 44px 44px no-repeat;
}

.ticket__icon {
  background: url("../images/ticket.svg") center / 44px 44px no-repeat;
}

.explore__icon {
  background: url("../images/explore.svg") center / 44px 44px no-repeat;
}

.contact__icon {
  background: url("../images/contact.svg") center / 44px 44px no-repeat;
}

.three-d__icon {
  background: url("../images/3D.svg") center / 44px 44px no-repeat;
}

.biology__icon {
  background: url("../images/biology.svg") center / 44px 44px no-repeat;
}

.physics__icon {
  background: url("../images/physics.svg") center / 44px 44px no-repeat;
}

.chemistry__icon {
  background: url("../images/chemistry.svg") center / 44px 44px no-repeat;
}

/*HERO SECTION*/

.hero__section p {
  font-weight: 600;
}
